{{#each people}}
   <li class="gallery__item">
    <div class="gallery__thumb">
        <img src="{{flag}}" alt="Flag of {{name}}" width="320">    
    </div>
    <h2>{{name}}</h2>
    <p><b>Capital:</b>{{capital}}</p>
    <p><b>Currency:</b>{{currency}}</p>
    <p><b>Official Language:</b>{{language}}</p>
    <p><b>Population:</b>{{population}}</p>
   </li>
{{/each}}



{{!-- є такий шаблон --}}

{{!-- <li class="gallery__item">
<div class="gallery__thumb">
    <img src="" alt="" width="320">
</div>
 <h2>Country</h2>
    <p><b>Capital: capital</b></p>
    <p><b>Currency:</b> tugric </p>
    <p><b>Official Language:</b> no </p>
    <p><b>Population:</b> 0 people</p>
</li> --}}